@charset "UTF-8";

body {
    margin: 2;
    background-image: url(sozai/空.jpg);
    position: relative;
}

.top {
    margin: 0;
    padding: 0;
    color: greenyellow;
    font-family: "メイリオ";
    font-size: 64px;
}

.logo img {
    width: 250px;
    text-align: left;
    float: left;
}

.humberger {
    font-size: 100px;
    text-align: right;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
}

.clear {
    clear: both;
}

.uppercontents {
    display: flex;
}

.square {
	width: 230px;
	height: 420px;
    margin-left: 10px;
	background: #0091EA;
    text-align: center;
}

.myface img {
    width: 170px;
    margin-top: 20px; 
    border: 2px solid white;
}

.bergeryoko {
    position: fixed;
    right: -270px;
    background-color: gray;
    top: 0;
    width: 270px;
    height: 100%;
    transition: right 0.3s;
    z-index: 3;
}

.bergeryoko.open {
    position: fixed;
    right: 0px;
    background-color: gray;
    top: 0;
    width: 270px;
    height: 100%;
    transition: right 0.3s;
    z-index: 3;
}

.batsu {
    font-size: 60px;
    text-align: right;
}

#gototop {
    width: 200px;
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: none;
}

#goto {
    text-align: right;
}

.okimono {
	width: 230px;
	height: 1000px;
    margin-left: 10px;
	background: black;
}

.hidden {
    
    border: 2px solid white;
}